
@use './base/reset';
@use '../assets/fonts/fonts.scss';
@use './abstract/variables';
@use './abstract/mixins';
@use './themes/change-theme';
@use './components/burger';


.header-container{
    width: 90%;
    height: 8.6rem;
    // background-color: variables.$header-bg-color;
    // color: variables.$body-bg-color-light;
    background-color: variables.$header-bg-color; 
    color: variables.$header-text-color;
    margin: 5rem auto;
    @include mixins.flex-spasebetween();
    padding: 2.4rem;
    border-radius: 1.2rem;

    input{
        display: none;
    }


    .header-logo a{
        color: variables.$body-bg-color-light;
        font-family: "Poppins", sans-serif;
        font-size: 2rem;
        transition: color 0.3s ease;
        &:hover{
                color: variables.$banner-bg-color;
            }     
    }

    .header-links{
        display: flex;
        justify-content: center;
        gap: 3.5rem;
        
        li a{
            color: variables.$body-bg-color-light;
            font-size: 1.6rem;
            transition: color 0.3s ease;

            &:hover{
                color: variables.$banner-bg-color;
            }

        }
        

    }
}

.header-action {
    @include mixins.flex();
    gap: 2rem;
    position: relative;



    button:nth-child(1) {
        background: none;
        
    }
    button:nth-child(2) {
        background: none;
        color: #fff;
        font-size: 1.6rem;
    }
    button:nth-child(3) {
        background-color: #fff;
        color: #000000;
        font-size: 1.6rem;
        font-family: "Poppins", sans-serif;
        padding: 1.5rem 4.3rem;
        border: none;
        border-radius: 8px;
        transition: background-color 0.3s ease, color 0.3s ease;
        
            &:hover {
                background-color: variables.$banner-bg-color;
                color: #fff;
            }



    }
}

.header-logo .logo-subtitle {
    display: none;
}

.header-action .burger,.change-theme-darck {
    display: none;
}





@media(max-width:950px){
    .header-logo .logo{
        display: none;       
    } 
   
}

@media(max-width:768px){
    .header-logo .logo-subtitle{
        display: block;
    }
    .header-logo .logo, .header-action button{
        display: none;
    }
    .header-container{
        background-color: lighten(variables.$body-bg-color-light,0%);
        color: variables.$body-bg-color-light;

    }
    .header-container .header-links{
        display: none;
    }
    .header-action .burger-menu{
        display: flex;
        background: none;
    }
    .header-action .change-theme-darck{
        display: block;
        background: none;

    } 

}
%action-button {
  display: inline-block;
  background-color: variables.$body-bg-color-darck;
  color:variables.$header-text-color;
  padding: 1rem 2rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;

  &:hover{
    background-color: #000;
  }
}

/* career container*/
.career-container {
  width: 90%;
  // height: 8.6rem;
  // background-color: variables.$body-bg-color-light;
  color: #000;
  margin: 5rem auto;
  @include mixins.flex-spasebetween();
  flex-wrap: wrap;
  // flex-direction: column;
  gap: 1rem;
  padding: 2.4rem;
  margin-top: 10rem;
}

.career-container .left-side mark{
  color: #E8DB84;
  background: none;
}
.career-container .left-side h2{
  font-size: 4.8rem;
  // margin-top: 4rem;
}
.career-container .left-side p{
  font-size: 1.8rem;
  font-family: 'Poppins';
  max-width: 57rem;
  padding: 1.5rem;

}


.career-container .action{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.career-container .action button{
  @extend %action-button;
  
}
.career-container .action a{
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: 'Poppins';


}
.career-container .action img{
  width: 5.3rem;
  height: auto;
}

.career-container .left-side .students{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // margin-bottom: 10rem;
}

.career-container .career-wrapper{
  
}

.career-container .right-side{
  max-width: 60rem;
  background-color: variables.$banner-bg-color;
  border-radius: 2rem;
  padding-left: 5rem;
  transition: transform 0.3s ease;

  &:hover{
    transform: scale(1.05);
    box-shadow: 3px 0px 10px rgba($color: #0000004d, $alpha: 0.5);
  }
}

.career-container .right-side .career-banner img{
  width: 30rem;
  // width: clamp(10rem, 40vw, 40rem);
  
}

.right-side  .career-cards{
  position: relative;
}

.right-side .career-cards .card-wrapper{
  position: absolute;
  top: -30px;
  left: -15rem;
}


@media(max-width:768px){
  .career-container .right-side .career-cards .card-wrapper{
    top: -30px;
    left: -10rem;
  }
  // .career-container .right-side .career-banner img {
  //   width: 25rem;
  // }
}



/* contact us*/





/* Footer */

.footer{
  background-color: #f2f2f2;
  padding: 40px 0 20px;
  font-family: Arial,sans-serif;
  color: #333;
}
.footer-container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer-section{
  max-width: 300px;
}
.brand{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}
.footer-section p {
  margin: 4px 0;
  font-size: 14px;
}
.center{
  text-align: center;
}
.social-title {
  margin-bottom: 10px;
}
.social-icons{
  display: flex;
  justify-content: center;
  gap: 12px;
}
.social-icons a{
  width: 32px;
  height: 32px;
  border: 1px solid #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}
.social-icons a:hover{
  background-color: #333;
  color: white;
}
hr{
  margin: 25px 0 10px;
  border: none;
  border-top: 1px solid #ccc;
}
.footer-divider {
  margin: 25px 0 10px;
  height: 1px;
  background-color: #ccc;
}
.footer-line {
  border: none;
  height: 1px;
  background-color: #d6d6d6;
  margin: 25px 0 15px;
}
.footer-bottom{
  text-align: center;
  font-size: 13px;
  color: #555;
  padding-top: 5px ;
}