@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');


/* @font-face {
    font-family: 'Avenir';
    src: url('./avenir/AvenirLTStd-Medium.woff2') format('woff2'),
        url('./avenir/AvenirLTStd-Medium.woff') format('woff'),
        url('./avenir/AvenirLTStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}



/* @font-face {
    font-family: 'Avenir';
    src: url('./avenir/AvenirLTStd-Medium.woff2') format('woff2'),
        url('./avenir/AvenirLTStd-Medium.woff') format('woff'),
        url('./avenir/AvenirLTStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('poppins/Poppins-Medium.woff2') format('woff2'),
        url('poppins/Poppins-Medium.woff') format('woff'),
        url('poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Jakarta';
    src: url('jakarta/PlusJakartaSans-Regular.woff2') format('woff2'),
        url('jakarta/PlusJakartaSans-Regular.woff') format('woff'),
        url('jakarta/PlusJakartaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */