
@use '../abstract/mixins';
@use '../abstract/variables';
@use '../components/buttons';


/* career container*/
.career-container {
  width: 90%;
  // height: 8.6rem;
  // background-color: variables.$body-bg-color-light;
  color: #000;
  margin: 5rem auto;
  @include mixins.flex-spasebetween();
  flex-wrap: wrap;
  // flex-direction: column;
  gap: 1rem;
  padding: 2.4rem;
  margin-top: 10rem;
}

.career-container .left-side mark{
  color: #E8DB84;
  background: none;
}
.career-container .left-side h2{
  font-size: 4.8rem;
  // margin-top: 4rem;
}
.career-container .left-side p{
  font-size: 1.8rem;
  font-family: 'Poppins';
  max-width: 57rem;
  padding: 1.5rem;

}


.career-container .action{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.career-container .action button{
  @extend %action-button;
  
}
.career-container .action a{
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: 'Poppins';


}
.career-container .action img{
  width: 5.3rem;
  height: auto;
}

.career-container .left-side .students{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // margin-bottom: 10rem;
}

.career-container .career-wrapper{
  
}

.career-container .right-side{
  max-width: 60rem;
  background-color: variables.$banner-bg-color;
  border-radius: 2rem;
  padding-left: 5rem;
  transition: transform 0.3s ease;

  &:hover{
    transform: scale(1.05);
    box-shadow: 3px 0px 10px rgba($color: #0000004d, $alpha: 0.5);
  }
}

.career-container .right-side .career-banner img{
  width: 30rem;
  // width: clamp(10rem, 40vw, 40rem);
  
}

.right-side  .career-cards{
  position: relative;
}

.right-side .career-cards .card-wrapper{
  position: absolute;
  top: -30px;
  left: -15rem;
}


@media(max-width:768px){
  .career-container .right-side .career-cards .card-wrapper{
    top: -30px;
    left: -10rem;
  }
  // .career-container .right-side .career-banner img {
  //   width: 25rem;
  // }
}
@media(max-width:400px){
  .career-container .right-side .career-banner img{
    width:70vw;
    
  }
  .career-container .right-side .card-wrapper img{
    width:70%;
    height: 100%;

  }

}
