

/* contact us*/
.contact-section {
  padding: 60px 0;
}

.contact-container {
  max-width: 1100px;   
  margin: 0 auto;
  padding: 50px 40px;
  background-color: #d8cc78;
  border-radius: 20px;
  text-align: center;
}

.contact-container h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

.contact-subtext {
  max-width: 650px;
  margin: 0 auto 35px;
  font-size: 14px;
  color: #333;
}

.contact-form {
  max-width: 750px;
  margin: 0 auto;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-row input {
  flex: 1;
}

input,
textarea {
  width: 100%;
  padding: 14px;
  border-radius: 6px;
  border: none;
  background-color: #eee;
  font-size: 14px;
  outline: none;
}

textarea {
  height: 140px;
  resize: none;
  margin-bottom: 25px;
}

.contact-button {
  background-color: #0f2d4a;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-button:hover {
  background-color: #0c2238;
}