@use '../abstract/variables';

$margin-left:10px;
$margin-top:40px;


#my-popover {
  background-color: #fff;
  color: variables.$popover-text-color;
  border-radius: 8px;
  padding: 1rem;
}


.burger-menu{
    display: none;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: variables.$body-bg-color-darck;
    color: #0f0f0f;
    border-radius: 8px;
    border: none;
    padding: 10px 12px;
    position: relative;
    margin: 0 auto;
   
}
.span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
span{
    width: 10px;
    height: 2px;
    background-color:rgb(0, 0, 0);
    display: block;
}
a{
    text-decoration: none;
    color: white;
    font-size:17px;
}

.popover-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    li{
    list-style: none;
}
}

#my-popover{
    width: 100vw;
    border: none;
    position: absolute;
    animation: slidein 0.3s forwards 0s 1;
    transition:color 0.2s ease;
    ul{
        li{
            a {
                    &:hover {
                        color: #ec5707;
                        text-decoration: line-through;
                    }
                }
           
        }
    }
}
#my-popover nav{
    padding: 10px 30px;
    background-color: variables.$body-bg-color-darck; 
    color: #0f0f0f;

}

@keyframes slidein {
    from{
        transform: translateX(-400px);
        
    }
    to{
        transform: translateX(0px);
        
        
    }
}



