@use '../abstract/variables';

body:has(#light-theme:checked) {
    background-color: lighten(variables.$body-bg-color-light, 20%);


    .header-action :nth-child(1){
        background-image: url('/assets/img/moon.png');
    }
}
body:has(#light-theme:checked) *{
    color: black;
}

body:has(#darck-theme:checked) {
    background-color:variables.$body-bg-color-darck;
    header button{
        color: rgb(0, 0, 0);
    }
    header{
        background-color: lighten(variables.$header-bg-color,10%);
    }
    footer{
        background-color: variables.$header-bg-color;
    }
    .header-action :nth-child(1){
        background-image: url('/assets/img/sun.png');
        img{
            visibility: hidden;
        }
    }
}
body:has(#darck-theme:checked) *{
    color:white;
}






