

@mixin flex(){
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin flex-spasebetween(){
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-spasearround(){
    display: flex;
    justify-content: space-around;
    align-items: center;
}

