
$body-bg-color-light:#fff;
$body-bg-color-darck:#052A44;
$header-bg-color:#052A44;
$header-text-color:#fff;
$banner-bg-color:#E8DB84;
$h1-size:48px;
$header-text-color-dark: #fff; 
$popover-bg-color:#000;
$popover-text-color:#fff;




